<% if @messages.present? %>
  <% @messages.each do |m| %>
  <% end %>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<% @messages.each do |message| %>
<% if message.user == current_user %>
<div class="message-style">
<p class="<%= message.id %>">
    <span class="balloon1-top">
        <h7 class="dm_content"><%= message.content %></h7><br>
    </span>
</p>
<h7><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></h7>
</div>

<% else %>
<div class="other-message-style">
<p class="<%= message.id %>">
    <span class="balloon1-top">
        <h7 class="dm_content"><%= message.content %></h7><br>
    </span>
</p>
<h7><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></h7>
</div>
<% end %>

<br>

<script>
    //メッセージのユーザーidを取ってくる
    var message = <%= message.user.id %>;
    //id="current_user"の内容を取得
    var dm_user = document.getElementById('current_user');
    //dm_userのdata-idを取得する
    var current_user = dm_user.getAttribute('data-id')
    //dm_userがログインユーザーであれば右に表示する
    
    
</script>

<% end %>