<div class="col-xs-12"style="margin-top:3%; overflow:hidden;">
    <p style="font-size:1.3em; font-weight:bold;">Railsプロフィール</p>
            <%= form_with(model: @user, local: true) do |f| %>
        
              <%= f.label :image, "プロフィール画像" %>
              <%= f.file_field :image %>
              
              <%= f.label :height, "身長"  %>
              <%= f.select :height, { "130cm": 130, "131cm": 131, "132cm": 132, "133cm": 133, "134cm": 134, "135cm": 135, "136cm": 136, "137cm": 137, "138cm": 138, "139cm": 139, "140cm": 140, "141cm": 141, "142cm": 142, "143cm": 143, "144cm": 144, "145cm": 145, "146cm": 146, "147cm": 147, "148cm": 148, "149cm": 149, "150cm": 150, "151cm": 151, "152cm": 152, "153cm": 153, "154cm": 154, "155cm": 155, "156cm": 156, "157cm": 157, "158cm": 158, "159cm": 159, "160cm": 30, "161cm": 161, "162cm": 162, "163cm": 163, "164cm": 164, "165cm": 165, "166cm": 166, "167cm": 167, "168cm": 168, "169cm": 169, "170cm": 170, "171cm": 171, "172cm": 172, "173cm": 173, "174cm": 174, "175cm": 175, "176cm": 176, "177cm": 177, "178cm": 178, "179cm": 179, "180cm": 180, "181cm": 181, "182cm": 182, "183cm": 183, "184cm": 184, "185cm": 185, "186cm": 186, "187cm": 187, "188cm": 188, "189cm": 189, "190cm": 190, "191cm": 191, "192cm": 192, "193cm": 193, "194cm": 194, "195cm": 195, "196cm": 196, "197cm": 197, "198cm": 198, "199cm": 199, "200cm":200 }, { include_blank: 'タップして選択'}, { class: 'form-control' , required: false } %>
              
              <%= f.label :Body_shape, "体型"  %>
              <%= f.select :Body_shape, User.Body_shapes.keys,{}, class: "form-control" %>
              
              <%= f.label :blood_type, "血液型"  %>
              <%= f.select :blood_type, { "A型": "A型", "B型": "B型", "O型": "O型", "AB型": "AB型"}, { include_blank: 'タップして選択'}, { class: 'form-control' , required: false } %>
              
              <%= f.label :residence, "居住地"  %>
              <%= f.select :residence, User.residences.keys,{}, class: "form-control" %>
              
              <%= f.label :Birthplace, "出身地"  %>
              <%= f.select :Birthplace, User.Birthplaces.keys,{}, class: "form-control" %>
              
              <%= f.label :holiday, "休日"  %>
              <%= f.select :holiday, User.holidays.keys,{}, class: "form-control" %>
              
              <%= f.label :work, "職業"  %>
              <%= f.select :work, User.works.keys,{}, class: "form-control" %>
              
              <%= f.submit "保存する",url: profile_user_path , class: "btn btn-primary" %>
            <% end %>
            
            
</div>

      
   
   