<div id="app-link">
<div class="side">
    
    <div style="margin-top:7%;">
      
      <div class="title-gem"><a href="/" class="fas fa-gem fa-xs">RailsApp</a></div>
    
    </div>
    <div class="container wrapper fixed-bottom">
          <ul class="row item-bar">
                <li><%= link_to "　さがす", index_path(current_user), {class: "fas fa-search"} %></li>
                <li><%= link_to "　メッセージ", index_room_path(current_user), {class: "fas fa-comment"} %></li>
                <li><%= link_to "　マッチング", match_path(current_user), {class: "fas fa-heart"} %></li>
                <li><%= link_to "　プロフィール", user_path(current_user), {class: "fas fa-user"} %></li>
                <li><%= link_to "　コミュニティ", community_path(current_user), {class: "fas fa-globe"} %></li>
                <%#= link_to "　つぶやき", tweet_path(current_user), {class: "fas fa-paw"} %>
                <li><%= link_to "　設定", setting_path(current_user), {class: "fas fa-cog"} %></li>
          </ul>
    </div>
</div> 
<div class="table_frame">
  <%= yield %>
</div>

</div>

               
               
              
                
         
             