<style>
    [v-cloak] {
      display: none;
    }
  </style>

<div id="app-users" v-cloak>
<%= render 'users/left_partial' %>
<div class="main-contents">
    <p style="font-size:2em; font-weight:bolder;">さがす</p>
      
          <div v-on:click="openModal"  class="fas fa-search search-name" id="search-form"></div>
              
              <div v-show="searchC" class="search-users">
                  <button v-on:click="closeModal" class="fas fa-times cross-icon"></button>
                  <div class="search-wrapper">
                    <%= render 'users/search' %>
                  </div>
              </div>
          
          
         <div class="user-grid " style="margin-left:41px;">
             <% @users.each do |user| %>
                 <%= link_to user_path(user), method: :get do %>
                    <ul class="user-info">
                      <div><%= image_tag user.image.url, class: "user_icon" , style:"cursor:pointer;" %></div>
                          <li><p style="text-align:left;"><%= user.name[0, 5] + '...' %> <%= user.age %>歳 <%= user.residence %></p></li>
                    </ul>
                 <% end %>
                     
            <% end %>
            
            <%= paginate @users %>
            
            
         </div>
         
     </div>
</div>

  
<script>
        new Vue({
            el: '#app-users',
            data: {
                searchC : false,
                html : false
            },
            methods: {
                        openModal: function () {
                            this.searchC = true
                        },
                        closeModal: function () {
                            this.searchC = false
                        }
                        
                     }
                     
        });
        
        
</script>
  