<%= render 'users/left_partial' %>
<div class="main-contents">
    <p style="font-size:1.8em; font-weight:bolder;">メッセージ</p>
    
    
    <% @users.each do |user| %>
        
        <%= link_to send_message_path(user) do %>
        <div style="border-top-style: solid; border-width:1px; border-color:#ebeef2;">
        <div style="margin-left:41px; margin-top:10px;"><%= image_tag user.image.url, class: "user_icon4" %></div>
        <ul class="user-info-2">
          <li><p><%= user.name %></p></li>
          <li><p><%= user.age %>歳 <%= user.residence %></p></li>
        </ul>
        <% end %>
        <%#= link_to user.image, user %>
      <% end %>
      </div>
      </div>
