<div id="app-1" >
<%= render 'users/left_partial' %>

<div class="main-contents">
       <% @user ||= current_user %>
           <div class="user_prf" style="display: flex; justify-content: space-between;">
              <div class="user-icon-location">
                  <% if @user.image? %>
                  <%= image_tag @user.image.url, class: "user_icon2" %>
                  <% else %>
                  <%= image_tag "default_icon.jpg", class: "user_icon2" %>
                  <% end %>
                  <% @user ||= current_user %>
              <div class="stats">
                    <a href="<%= follower_path(@user) %>">
                      <strong id="followers" class="stat">
                        <%= @user.followers.count %>
                        <i class="fas fa-thumbs-up"></i>
                      </strong>
                      いいね！
                    </a>
              </div>
              </div>
               <div class="view-prf fas fa-street-view"></div>
           </div>
 
<%= render 'users/edit_prf'%>
</div>
</div>

<script>
        new Vue({
            el: '#app-1',
            data: {
                searchC : false,
            },
            methods: {
                        openModal: function () {
                            this.searchC = true
                        },
                        closeModal: function () {
                            this.searchC = false
                        }
                     }
                     
        });
        
</script>

