<%= render 'users/left_partial' %>
    <div class="main-contents">
        <%= render 'shared/success_messages' %>

        <ul class ="prf-list">
            <div>
            <% if @user.image? %>
                <%= image_tag @user.image.url, class: "user_icon2" %>
            <% else %>
                <%= image_tag "default_icon.jpg", class: "user_icon2" %>
            <% end %>
            </div>
            
            <%= render 'follow_form' %>
        　　<div class ="prf-list-screen">
            <p style="font-size:1.3em; font-weight:bold;">基本プロフィール</p>
                <li>ニックネーム<span style="padding-left:73.5px;"><%= @user.name %></span></li>
                <li>年齢<span style="padding-left:130px;"><%= @user.age %>歳</span></li>
                <li>居住地<span style="padding-left:116px;"><%= @user.residence %></span></li>
                <li>出身地<span style="padding-left:116px;"><%= @user.Birthplace %></span><li>
                <li>血液型<span style="padding-left:116px;"><%= @user.blood_type %></span><li>
        </ul>
        
        <ul class="prf-list">
            <p style="font-size:1.3em; font-weight:bold;">詳細プロフィール</p>    
                <li>仕事<span style="padding-left:125px;"><%= @user.work %></span></li>
                <li>身長<span style="padding-left:125px;"><%= @user.height %></span></li>
                <li>体型<span style="padding-left:125px;"><%= @user.Body_shape %></span></li>
                <li>休日<span style="padding-left:125px;"><%= @user.holiday %></span></li>
        </ul>
        
        </div>
    </div>
