<%= render 'users/left_partial' %>
<div class="main-contents">
<h2>メッセージ一覧</h2>
<% if @anotherEntries.empty? %>
  <div style="margin-top:30px;">
    <p style="text-align:center; font-size:30px;">メッセージがありません</p>
    <div style="display:flex; justify-content:center;">
        <%= link_to 'マッチングしたお相手にメッセージ', match_path(current_user), method: :get, class: "detail-user-button shadow" ,id: "send_message-s", style: "padding-top:30px; padding-bottom:30px; font-size:20px;" %>
    </div>
  </div>
<% else %>
<% @anotherEntries.includes([:room],[:user]).each do |e| %>
    <table class="table table-striped">
        <tr>
            <td>
　　　　　　　　　<!-- 名前からroomの詳細に飛べるようにリンク化 -->
                <%= link_to room_path(e.room.id) do %>
                    <%= image_tag e.user.image.url, class: "room_icon" %>
                    <%= e.user.name %>
                <% end %>
            </td>
            <td>
               <!-- 最新メッセージ内容の最初の7文字を表示する -->
                <%# dm = Message.find_by(id: e.room.message_ids.last).content %>
                <%#= truncate(dm, length: 10) %>
            </td>
            <td>
                <h6 style="color: #C0C0C0;"><%= e.updated_at.strftime("%Y/%m/%d %H:%M") %></h6>
            </td>
            <td>
               <!-- ゴミ箱アイコンクリックでroomを消せるようにする -->
                <%= link_to room_path(e.room.id), method: :delete do %>
                    <i class="fas fa-trash" style="color: black;"></i>
                <% end %>
            </td>
        </tr>
    </table>
  <% end %>
<% end %>
</div>
