
<body style="background-color: rgba(0,0,0,0.6);">
    <div class="user-contents"> 
        <div><%= image_tag @user.image.url, class: "user_icon5" %></div>
        <div class="user-info-3">
              <p><%= @user.name %></p>
              <p><%= @user.residence %></p>
              <p><%= @user.age %>歳</p>
        </div>
        
        <div style="display:flex; justify-content:center;">
        <% if logged_in? %>
          <% unless @user.id == current_user.id %>
             <% if @isRoom == true %>
                <%= link_to room_path(@roomId) do %>
                    <button id="dm_submit">メッセージを送る</button>
                <% end %>
             <% else %>
                
             <%= form_for @room, url: rooms_path do |f| %>
                <%= fields_for @entry do |e| %>
                   <%= e.hidden_field :user_id, :value=> @user.id %>
                <% end %>
                <button type="submit" id="dm_submit">メッセージを送る</button>
             <% end %>
            <% end %>
          <% end %>
        <% end %>
        </div>
    </div>
</body>