<%= render 'users/left_partial' %>
<div class="main-contents">
    <h2 style="font-weight:bold;">コミュニティ</h2>
    <div class="community-grid " style="margin-left:41px;">
    <% @communities.each do |community| %>
    <%= link_to info_path(community), method: :get do %>
    <div class="community-info">
        <% if community.image? %>
            <div><%= image_tag community.image, class: "community_icon" %></div>
        <% else %>
            <div><%= image_tag "default_icon.jpg", class: "community_icon" %></div>
        <% end %>
        <p><%= community.name %></p>
        </div>
        <% end %>
    <% end %>
    </div>
</div>